section.section.section-home-intro
  .title.title--lagre.text-center.text-white Stories that move you
  .title.title--medium.text-center.text-white Explore at your own pace with VoiceMap’s immersive audio tour app
  .input-group.search-input.mb-3
    input#search-autocomplete1.form-control.search-input placeholder="Search"
    .input-group-prepend
      button.btn.btn-secondary type="button"
        i.fa.fa-search
section.section.section-services
  .container
    .row
      .col-md-4.u-p0
        .items-block.d-flex.align-items-center.justify-content-between style="height: 164px;"
          .item-block
            = image_tag "guy.png"
          .item-block
            .title.title--medium-1 Independence
            .title.title--small No awkward groups 
            .title.title--small or rigid schedules
          .item-block
            = image_tag "crowd.png"
      .col-md-4.u-p0
        .items-block.d-flex.align-items-center.justify-content-center style="height: 164px; background-color: #f7f8f9;"
          .item-block
            .title.title--large-1.text-alizarinCrimson 50
          .vr-divider
          .item-block
            .title.title--medium countries
      .col-md-4.u-p0
        .items-block.d-flex.align-items-center.justify-content-between style="height: 164px;"
          .item-block.u-p15
            .title.title--medium-1 Easy to Use
            .title.title--small Tours work offline and play automatically using GPS. 
          .item-block
            = image_tag "easy-to-use-edited-illustration-copy-4.png"