@import "bootstrap";
@import "font-awesome";

//////////////////// Variables ////////////////////////////////////
// Typography
$font-family-primary: 'AvenirNext', 'Open Sans';

// Font-size
$font-size-medium: 14px;

//Colors
$white:  #fff;
$black:  #000;
$alizarinCrimson: #E22D3A;
$riverBed: #454d57;
$porcelain: #f7f8f9;
$pickledBluewood: #283d52;

// //Mixin
// $mobile-width: 576px;
// $tablet-width: 768px;
// $desktop-width: 992px;
// $large-desktop-width: 1200px;
//Others

//////////////////// Global ////////////////////////////////////
@font-face {
  font-family: 'AvenirNext';
  font-weight: normal;
  src: url(asset_path('AvenirNext-Regular.eot'));
  src: url(asset_path('AvenirNext-Regular.eot')) format('embedded-opentype'), url(asset_path('AvenirNext-Regular.woff')) format('woff'), url(asset_path('AvenirNext-Regular.ttf')) format('truetype'), url(asset_path('AvenirNext-Regular.svg#AvenirRegular')) format('svg');
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 500;
  src: url(asset_path('AvenirNext-Medium.eot'));
  src: url(asset_path('AvenirNext-Medium.eot')) format('embedded-opentype'), url(asset_path('AvenirNext-Medium.woff')) format('woff'), url(asset_path('AvenirNext-Medium.ttf')) format('truetype'), url(asset_path('AvenirNext-Medium.svg#AvenirMedium')) format('svg');
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 800;
  src: url(asset_path('AvenirNext-Bold.eot'));
  src: url(asset_path('AvenirNext-Bold.eot')) format('embedded-opentype'), url(asset_path('AvenirNext-Bold.woff')) format('woff'), url(asset_path('AvenirNext-Bold.ttf')) format('truetype'), url(asset_path('AvenirNext-Bold.svg#AvenirBold')) format('svg');
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 600;
  src: url(asset_path('AvenirNext-DemiBold.eot'));
  src: url(asset_path('AvenirNext-DemiBold.eot')) format('embedded-opentype'), url(asset_path('AvenirNext-DemiBold.woff')) format('woff'), url(asset_path('AvenirNext-DemiBold.ttf')) format('truetype'), url(asset_path('AvenirNext-DemiBold.svg#AvenirDemiBold')) format('svg');
}

body {
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $riverBed;
  background: $porcelain;
}

p {
  margin: 0px 0px 24px 0px;
}
p:last-child {
  margin: 0px;
}
a {
  color: $riverBed;
}
a:hover {
  color: $alizarinCrimson;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

a.text-primary:focus, a.text-primary:hover {
  color: #202db8!important;
}

.lead {
  font-size: 21px;
  line-height: 32px;
  color: #181825;
}
.z-index-0 {
  z-index: 0;
}
::selection {
  background: rgba(255, 244, 147, .8);
  color: #272c30;
}

//////////////////// Utility classes ////////////////////////////////////
$property-map: (
  m: margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
  p: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left,
  mih: min-height,
  miw: min-width
);

$sizes-list: 0 5 8 10 15 16 20 22 24 25 30 35 40 45 48 50 70 80 100;

@each $size in $sizes-list {
  $val: $size + px;
  @each $keyword, $property in $property-map {
    .u-#{$keyword}#{$size} {
      #{$property}: $val !important;
    }
  }
}

/// Auto
@each $keyword, $property in $property-map {
  .u-#{$keyword}-auto {
    #{$property}: auto !important;
  }
}

//////////////////// Buttons ////////////////////////////////////
input.form-control {
  height: 45px;
  background-color: $porcelain;
  border-radius: 4px;
  border: 0;
}


//////////////////// Buttons ////////////////////////////////////
.btn {
  height: 45px;
  padding: 11px 15px;
  border-radius: 4px;
  font-size: $font-size-medium;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.btn-outline-danger {
  color: $alizarinCrimson;
  border-color: $alizarinCrimson;

  &:hover {
    background-color: $alizarinCrimson;
    border-color: $alizarinCrimson;
  }
}

.btn-danger {
  background-color: $alizarinCrimson;
  border-color: $alizarinCrimson;
}

//////////////////// Icons ////////////////////////////////////
icon-search {
  width: 26px;
  height: 26px;
  object-fit: contain;
}

//////////////////// Text ////////////////////////////////////
.text {
  font-family: AvenirNext;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #283d52;

  &--small {
    font-size: 12px;
    font-weight: normal;
    color: #697886;
  }

  &--medium {
    font-size: 14px;
  }

  &--large {
    font-size: 15px;
  }

  &-pickledBluewood {
    color: $pickledBluewood !important;
  }

  &-white {
    color: $white !important;
  }

  &-alizarinCrimson {
    color: $alizarinCrimson !important;
  }
}

//////////////////// card ////////////////////////////////////
.card {
  border: 0;
  border-radius: 4px;
  background-color: #f7f8f9;

  .card-body {
    padding: 20px;
  }
}

//////////////////// custom ////////////////////////////////////
.vr-divider {
  border-left: 1px solid rgba(105, 120, 134, 0.4);;
  height: 30px;
  margin: 0 15px;
}



//////////////////// Header ////////////////////////////////////
.header-classic {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-classic {
  min-height: 65px;
  padding: 0;
}

.navbar-classic .navbar-nav .nav-item {
  margin-right: 50px;
}
.navbar-classic .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #283d52;
  padding: 14px 15px;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover {
  color: $alizarinCrimson;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
  color: $alizarinCrimson;
}
.navbar-classic .navbar-collapse.show {
  .dropdown .dropdown-menu .dropdown-item {
    border-radius: 0px;
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 16rem;
  padding: 12px;
  margin: 18px 0px;
  font-size: 1rem;
  color: #808294;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0;
  clear: both;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #454d57;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: $alizarinCrimson;
  text-decoration: none;
  border-radius: 4px;
  background-color: transparent;
}
.dropdown-item:focus .dropdown-toggle::after, .dropdown-item:hover.dropdown-toggle::after {
  color: $alizarinCrimson;
}

.dropdown-toggle--none-caret::after {
  content: none;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 17px;
  top: 25px;
}
.dropdown-submenu .dropdown-menu {
  top: 0px;
  left: 100%;
  margin-left: 13px;
  margin-right: .1rem;
}
.caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.mega-dropdown {
  position: relative;

  .mega-dropdown-menu {
    width: 100%;
    position: absolute;
    top: 63px;
    margin: 5px 0px;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;
  }

  .mega-dropdown-menu ul {
    list-style: none;
  }

  .mega-menu--create {
    .card {
      &:hover {
        box-shadow: 0 0 6px 0 rgba(40, 61, 82, 0.15);
        background-color: #ffffff;
      }
    }
  }
}


.nav-dropitem-arrow {
  position: relative;
  font-size: 12px;
  opacity: 0;
  padding-right: 10px;
}
.nav-dropitem-arrow i {
  position: absolute;
  /* top: -1px;
  */
}

.dropdown-item:hover .nav-dropitem-arrow {
  color: $alizarinCrimson;
  opacity: 1;
  margin-right: 5px;
}
.navbar-classic .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0;
  position: relative;
}
/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
  background: #fff;
  box-shadow: none;
  margin: 7px 0px;
}

.icon-bar {
  width: 21px;
  height: 3px;
  background-color: $pickledBluewood;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px
}
.navbar-toggler:focus {
  outline: 0px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 190%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% -80%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

//////////////////// Section ////////////////////////////////////
.section {
  .title {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $pickledBluewood;

    &--lagre {
      font-size: 70px;
      font-weight: bold;
    }

    &--large-1 {
      font-size: 40px;
      font-weight: bold;
    }

    &--medium {
      font-size: 26px;
      font-weight: 500;
    }

    &--medium-1 {
      font-size: 18px;
      font-weight: bold;
    }

    &--small {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.section-home-intro {
    background-color: #000;
    background-image: url(asset_path("header-pic-03.png"));
    background-size: cover;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      margin: 0 40px 20px;
    }

    .input-group.search-input {
      padding: 15px;
      width: 845px;
      button {
        border-radius: 4px;
        background-color: #e22d3a;
        border: 0;
      }
    }
  }

  &.section-services {
    background-color: #fff;
  }
}

////////////////////// Custom Autocomplete //////////////////////////
.autocomplete-suggestions {
  position: relative;
  z-index: unset;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #dfe2e5;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #454d57;
}

.autocomplete-suggestion {
  padding: 10px 15px;
  height: 46px;
  border-bottom: solid 1px #dfe2e5;
  background-color: #ffffff;

  &:hover {
    color: $alizarinCrimson;
  }
}

//////////////////// Responsive ////////////////////////////////////
@include media-breakpoint-up(lg) {
  .header-transparent {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: none;

    .navbar-classic .navbar-nav .nav-item .nav-link {
      color: #fff;
    }

    .nav-actions {
      .btn-outline-danger {
        background-color: #E22D3A;
        color: #fff;
      }
    }

    .mega-dropdown .mega-dropdown-menu {
      margin-top: -5px;
    }

    &.header-transparent-scroll {
      background-color: $white;
      .navbar-classic .navbar-nav .nav-item .nav-link {
        color: #283d52;
      }

      .nav-actions {
        .btn-outline-danger {
          background-color: transparent;
          color: #E22D3A;
        }
      }

      .mega-dropdown .mega-dropdown-menu {
        margin-top: 0px;
      }
    }
  }

  .navbar-classic {
    justify-content: flex-end;

    .navbar-collapse {
      flex-basis: unset;
      flex-grow: unset;

      .search-input {
        display: none;
      }

      &.show .navbar-nav .nav-item .nav-link {
        border: 0;
      }
    }
    img.icon-search {
      display: none;
    }
  }

  .dropdown-menu:after {
    position: absolute;
    left: 47%;
    top: -12px;
    width: 0;
    height: 0;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
  }

  .mega-dropdown-menu.mega-menu--create {
    width: 630px;
    left: -288px;

    .mega-menu--create-item {
      width: 50%;
      padding-left: 10px;

      &:nth-child(even) {
        padding-right: 10px;
      }

      .card-body {
        display: flex;
        align-items: center !important;
        justify-content: space-between;
      }
    }
  }

  .mega-dropdown-menu.mega-menu--partner {
    width: 468px;
    left: -190px;

    .mega-menu--partner-big-topics {
      width: 45%;
      padding-left: 15px;
      padding-right: 20px;
    }

    .mega-menu--partner-topics {
      width: 55%;
      padding-left: 0px;

      li {
        margin-bottom: 22px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .mega-menu--partner-overview {
      width: 100%;
      height: 145px;
      border-radius: 4px;
      border: solid 1px #f7f8f9;
      background-color: #f7f8f9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .mega-dropdown-menu.mega-menu--explore {
    width: 600px;
    left: -250px;
  }
}

@include media-breakpoint-down(lg) {

}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-down(md) {
  .navbar-mobile {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;

    &.collapse-shown {
      padding: 22.5px 0px;
      justify-content: flex-end;

      img.icon-search {
        display: none;
      }
    }
  }

  .navbar-classic {
    .navbar-collapse {
      .search-input {
        display: block;
      }
      .nav-actions {
        padding: 19px 0px;
        display: flex;
        justify-content: space-between;

        .btn {
          width: 50%;
        }
      }
    }
    .navbar-nav {
      margin: 0 -15px;
      .nav-item {
        margin-right: 0px;
      }
    }
  }

  .navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid #f1f1f6;
  }

  .navbar-classic .navbar-collapse.show .navbar-nav .nav-item.show .nav-link {
    border-bottom: 0;
  }

  .mega-dropdown-menu.mega-menu--create {
    width: 100%;
    position: relative;
    top: unset;
    z-index: unset;
    margin-top: 0;
    border-bottom: 1px solid #f1f1f6;

    .mega-menu--create-item {
      width: 50%;
      padding-left: 15px;
      padding-right: 7.5px;

      &:nth-child(even) {
        padding-left: 7.5px;
        padding-right: 15px;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        padding: 10px 0;
      }

      .card-item {
        margin-bottom: 5px;
      }

      .card-item .description {
        display: none;
      }
    }
  }

  .mega-dropdown-menu.mega-menu--partner {
    width: 100%;
    position: relative;
    top: unset;
    z-index: unset;
    margin-top: 0;

    .mega-menu--partner-big-topics {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding-left: 15px;
      padding-right: 15px;

      li {
        width: 50%;

        &:first-child {
          margin-right: 5px;
        }
        &:last-child {
          margin-left: 5px;
        }
      }
    }

    .mega-menu--partner-overview {
      width: 100%;
      height: 145px;
      border-radius: 4px;
      border: solid 1px #f7f8f9;
      background-color: #f7f8f9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .mega-menu--partner-topics {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      li {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  #mega-menu--explore {
    display: none;
  }

  .section {
    .title {
      &--lagre {
        font-size: 45px;
        line-height: 0.84;
        font-weight: bold;
      }
  
      &--medium {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.29;
      }
    }
  
    &.section-home-intro {
      background-color: #000;
      background-image: url(asset_path("header-pic-03.png"));
      background-size: cover;
      min-height: 550px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .input-group.search-input { 
        width: 100%;
        padding: 0px 15px;
      }
    }
  }
}