.header-classic class="#{'header-transparent' if controller_name == 'home'}"
  nav.navbar.navbar-expand-lg.navbar-classic
    .container.u-pl15.u-pr15
      .navbar-mobile
        button.navbar-toggler.collapsed data-target="#navbar-classic" data-toggle="collapse" type="button"
          span.icon-bar.top-bar.mt-0
          span.icon-bar.middle-bar
          span.icon-bar.bottom-bar
        = image_tag "search.svg", class: "icon-search", data: {toggle: "collapse", target: "#navbar-classic"}
      #navbar-classic.collapse.navbar-collapse
        input#search-autocomplete2.form-control.search-input placeholder="Search"
        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-link href="#"
              | Home
          li#mega-menu--explore.nav-item.dropdown.mega-dropdown
            a.nav-link.dropdown-toggle.dropdown-toggle--none-caret data-toggle="dropdown" href=""
              | Explore
            ul.dropdown-menu.mega-dropdown-menu.mega-menu--explore
              li.row.u-mb25
                .col
                  input.form-control#search-autocomplete placeholder="Search"
                  #search-autocomplete-result
              li.row
                .col-6
                  .text.text--large.u-mb5 Nearby
                  .row
                    .col-6
                      = image_tag 'cape_town.jpg', size: '125x100', class: 'rounded'
                      .text.text--small.mt-2 Cape Town
                    .col-6.u-pl0
                      = image_tag 'cape_town.jpg', size: '125x100', class: 'rounded'
                      .text.text--small.mt-2 Cape Winelands
                .col-6
                  .text.text--large.u-mb5 Popular
                  .row
                    .col-6.u-pr0
                      = image_tag 'cape_town.jpg', size: '125x100', class: 'rounded'
                      .text.text--small.mt-2 London
                    .col-6.u-pl0
                      = image_tag 'cape_town.jpg', size: '125x100', class: 'rounded'
                      .text.text--small.mt-2 Paris
          li.nav-item.dropdown.mega-dropdown
            a.nav-link.dropdown-toggle.dropdown-toggle--none-caret data-toggle="dropdown" href=""
              | Create
            ul.dropdown-menu.mega-dropdown-menu.mega-menu--create
              li.row
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/walk.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Walking Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/museum.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Indoor Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/car-tour.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Self-Drive Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/bus.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Bus Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/university.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 University Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/restaurant-menu.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Food Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/train-icon.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Train Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/cycle.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Cycling Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/boat.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Boat or Ferry Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
                ul.mega-menu--create-item.u-mb10
                  li
                    a.dropdown-item href="#"
                      .card
                        .card-body
                          .card-item
                            = image_tag "icons/question-speech-bubble.svg", alt: 'walk'
                          .card-item
                            .text.u-mb5 Other Tour
                            .text.text--small.description A simple outdoor tour with GPS playback
          li.nav-item.dropdown.mega-dropdown
            a.nav-link.dropdown-toggle.dropdown-toggle--none-caret data-toggle="dropdown" href=""
              | Partner
            ul.dropdown-menu.mega-dropdown-menu.mega-menu--partner
              li.row
                ul.mega-menu--partner-big-topics
                  li.u-mb15
                    a.dropdown-item href="#"
                      .mega-menu--partner-overview
                        = image_tag "icons/overview.svg", alt: 'walk'
                        .text.text--medium Overview
                  li
                    a.dropdown-item href="#"
                      .mega-menu--partner-overview
                        = image_tag "icons/case-studies.svg", alt: 'walk'
                        .text.text--medium Case Studies
                ul.mega-menu--partner-topics
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/pricing.svg", alt: 'walk', class: "u-mr15"
                      | Pricing and Distribution
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/content-creation.svg", alt: 'walk', class: "u-mr15"
                      | Content Creation Services
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/translation.svg", alt: 'walk', class: "u-mr15"
                      | Translation Services
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/tour-groups.svg", alt: 'walk', class: "u-mr15"
                      | Buy Tours for Large Groups
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/reseller.svg", alt: 'walk', class: "u-mr15"
                      | Become a Reseller
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/chinese-voicemap.svg", alt: 'walk', class: "u-mr15"
                      | Voicemap for Chinese Visitors
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/educators.svg", alt: 'walk', class: "u-mr15"
                      | Voicemap for Educators
                  li
                    a.dropdown-item href="#"
                      = image_tag "icons/tour-analytics.svg", alt: 'walk', class: "u-mr15"
                      | Tour Analytics
        .nav-actions
          a.btn.mr-2 href="#" class="#{controller_name == 'home' ? 'btn-light' : 'btn-outline-danger'}" Sign in
          a.btn.btn-danger href="#"  Create Account

