doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title VoiceMapTest
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width,initial-scale=1.0,maximum-scale=1" name="viewport" /

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    /! SweetAlert2
    link href="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.min.css" rel="stylesheet" /
    script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.min.js" 

    = csrf_meta_tags
  body
    = render "layouts/header"
    main
      = yield
